<!-- The div containing the selected value and an icon to visually indicate if the dropdown is open or closed -->
<div (click)="toggle()" class="rmr-5 hover:text-gray-900">
    Courses
    <div>
        <svg *ngIf="!Show" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">

        </svg>
        <svg *ngIf="Show" xmlns="http://www.w3.org/2000/svg" class="h-4 w-4" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">

        </svg>
    </div>
</div>
<!-- The div containing the available items -->
<!-- The div containing the available items -->
<!-- <div *ngIf="Show" class="absolute w-fit py-1 mt-2 border border-1 border-neutral-400 rounded-md cursor-pointer">
    <div (click)="select(item)" *ngFor="let item of Items" class="py-2 px-4 w-full hover:bg-neutral-100">
        {{ item }}
    </div> -->
<!-- </div> -->
<div *ngIf="Show" id="header-dropdown" class="_z44srxq">
    <ul class="_njywdf2" data-test-id="learn-menu">
        <li>
            <div class="_1b2zmqj" data-test-learn-menu-domain="math">
                <ul>
                    <li data-navigable-index="0"><a tabindex="-1" class="_1rio1scd" href="/math/in-math-by-grade"><span class="_17zmj242">Math - India</span></a></li>
                </ul>
                <ul class="_121xeo4">
                    <li data-navigable-index="1"><a tabindex="-1" aria-label="Class 1" class="_knb39h5" href="/math/in-in-class-1st-math-cbse"><span class="_xy39ea8">Class 1</span></a></li>
                    <li data-navigable-index="2"><a tabindex="-1" aria-label="Class 2" class="_knb39h5" href="/math/in-in-class-2nd-math-cbse"><span class="_xy39ea8">Class 2</span></a></li>
                    <li data-navigable-index="3"><a tabindex="-1" aria-label="Class 3" class="_knb39h5" href="/math/in-in-class-3rd-math-cbse"><span class="_xy39ea8">Class 3</span></a></li>
                    <li data-navigable-index="4"><a tabindex="-1" aria-label="Class 4" class="_knb39h5" href="/math/in-in-class-4th-math-cbse"><span class="_xy39ea8">Class 4</span></a></li>
                    <li data-navigable-index="5"><a tabindex="-1" aria-label="Class 5" class="_knb39h5" href="/math/in-in-class-5th-math-cbse"><span class="_xy39ea8">Class 5</span></a></li>
                    <li data-navigable-index="6"><a tabindex="-1" aria-label="Class 6" class="_knb39h5" href="/math/in-in-class-6th-math-cbse"><span class="_xy39ea8">Class 6</span></a></li>
                    <li data-navigable-index="7"><a tabindex="-1" aria-label="Class 7" class="_knb39h5" href="/math/in-in-class-7th-math-cbse"><span class="_xy39ea8">Class 7</span></a></li>
                    <li data-navigable-index="8"><a tabindex="-1" aria-label="Class 8" class="_knb39h5" href="/math/in-in-class-8th-math-cbse"><span class="_xy39ea8">Class 8</span></a></li>
                    <li data-navigable-index="9"><a tabindex="-1" aria-label="Class 9" class="_knb39h5" href="/math/in-in-grade-9-ncert"><span class="_xy39ea8">Class 9</span></a></li>
                    <li data-navigable-index="10"><a tabindex="-1" aria-label="Class 10" class="_knb39h5" href="/math/in-in-grade-10-ncert"><span class="_xy39ea8">Class 10</span></a></li>
                    <li data-navigable-index="11"><a tabindex="-1" aria-label="Class 11" class="_knb39h5" href="/math/in-in-grade-11-ncert"><span class="_xy39ea8">Class 11</span></a></li>
                    <li data-navigable-index="12"><a tabindex="-1" aria-label="Class 12" class="_knb39h5" href="/math/in-in-grade-12-ncert"><span class="_xy39ea8">Class 12</span></a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="_1b2zmqj" data-test-learn-menu-domain="math">
                <ul>
                    <li data-navigable-index="13"><a tabindex="-1" class="_1rio1scd" href="/math/in-in-math-foundations"><span class="_17zmj242">Math foundations</span></a></li>
                </ul>
                <ul class="_121xeo4">
                    <li data-navigable-index="14"><a tabindex="-1" aria-label="Class 6 (Foundation)" class="_knb39h5" href="/math/in-class-6-math-foundation"><span class="_xy39ea8">Class 6 (Foundation)</span></a></li>
                    <li data-navigable-index="15"><a tabindex="-1" aria-label="Class 7 (Foundation)" class="_knb39h5" href="/math/in-class-7-math-foundation"><span class="_xy39ea8">Class 7 (Foundation)</span></a></li>
                    <li data-navigable-index="16"><a tabindex="-1" aria-label="Class 8 (Foundation)" class="_knb39h5" href="/math/in-class-8-math-foundation"><span class="_xy39ea8">Class 8 (Foundation)</span></a></li>
                    <li data-navigable-index="17"><a tabindex="-1" aria-label="Class 9 (Foundation)" class="_knb39h5" href="/math/in-class-9-math-foundation"><span class="_xy39ea8">Class 9 (Foundation)</span></a></li>
                    <li data-navigable-index="18"><a tabindex="-1" aria-label="Class 10 (Foundation)" class="_knb39h5" href="/math/in-class-10-math-foundation"><span class="_xy39ea8">Class 10 (Foundation)</span></a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="_1b2zmqj" data-test-learn-menu-domain="math">
                <ul>
                    <li data-navigable-index="19"><a tabindex="-1" class="_1rio1scd" href="/math"><span class="_17zmj242">Math</span></a></li>
                </ul>
                <ul class="_121xeo4">
                    <li data-navigable-index="20"><a tabindex="-1" aria-label="Algebra 1" class="_knb39h5" href="/math/algebra"><span class="_xy39ea8">Algebra 1</span></a></li>
                    <li data-navigable-index="21"><a tabindex="-1" aria-label="Geometry" class="_knb39h5" href="/math/geometry-home"><span class="_xy39ea8">Geometry</span></a></li>
                    <li data-navigable-index="22"><a tabindex="-1" aria-label="Algebra 2" class="_knb39h5" href="/math/algebra2"><span class="_xy39ea8">Algebra 2</span></a></li>
                    <li data-navigable-index="23"><a tabindex="-1" aria-label="Trigonometry" class="_knb39h5" href="/math/trigonometry"><span class="_xy39ea8">Trigonometry</span></a></li>
                    <li data-navigable-index="24"><a tabindex="-1" aria-label="Statistics &amp; probability" class="_knb39h5" href="/math/statistics-probability"><span class="_xy39ea8">Statistics &amp; probability</span></a></li>
                    <li data-navigable-index="25"><a tabindex="-1" aria-label="Precalculus" class="_knb39h5" href="/math/precalculus"><span class="_xy39ea8">Precalculus</span></a></li>
                    <li data-navigable-index="26"><a tabindex="-1" aria-label="Calculus" class="_knb39h5" href="/math/calculus-1"><span class="_xy39ea8">Calculus</span></a></li>
                    <li data-navigable-index="27"><a tabindex="-1" aria-label="Multivariable calculus" class="_knb39h5" href="/math/multivariable-calculus"><span class="_xy39ea8">Multivariable calculus</span></a></li>
                    <li data-navigable-index="28"><a tabindex="-1" aria-label="Differential equations" class="_knb39h5" href="/math/differential-equations"><span class="_xy39ea8">Differential equations</span></a></li>
                    <li data-navigable-index="29"><a tabindex="-1" aria-label="Linear algebra" class="_knb39h5" href="/math/linear-algebra"><span class="_xy39ea8">Linear algebra</span></a></li>
                    <li data-navigable-index="30"><a tabindex="-1" aria-label="See all Math" class="_knb39h5" href="/math"><span class="_xy39ea8">See all Math</span></a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="_1b2zmqj" data-test-learn-menu-domain="khan-for-educators">
                <ul>
                    <li data-navigable-index="31"><a tabindex="-1" class="_1rio1scd" href="/khan-for-educators/khan-kids-app-page"><span class="_17zmj242">Khan Kids, an app (ages 2-7)</span></a></li>
                </ul>
                <ul class="_121xeo4">
                    <li data-navigable-index="32"><a tabindex="-1" aria-label="Math, Reading &amp; Social Emotional Learning" href="/kids" class="_knb39h5"><span class="_xy39ea8">Math, Reading &amp; Social Emotional Learning</span></a></li>
                </ul>
            </div>
        </li>
        <li>
            <div class="_1b2zmqj" data-test-learn-menu-domain="math">
                <ul>
                    <li data-navigable-index="33"><a tabindex="-1" class="_1rio1scd" href="/math/hindi"><span class="_17zmj242">Learn in Hindi (New)</span></a></li>
                </ul>
                <span>
                    <ul class="_121xeo4">
                        <li data-navigable-index="34"><a tabindex="-1" aria-label="Math in Hindi" class="_knb39h5" href="/math/math-hindi"><span class="_xy39ea8">Math in Hindi</span></a>
        </li>
        <li data-navigable-index="35"><a tabindex="-1" aria-label="Class 10 Physics (India) - Hindi" class="_knb39h5" href="/science/in-in-class-10-physics-india-hindi"><span class="_xy39ea8">Class 10 Physics (India) - Hindi</span></a></li>
        <li data-navigable-index="36"><a tabindex="-1" aria-label="Class 11 Physics (India) - Hindi" class="_knb39h5" href="/science/in-in-class-11-physics-cbse-hindi"><span class="_xy39ea8">Class 11 Physics (India) - Hindi</span></a></li>
    </ul>
    </span>
    <ul class="_121xeo4">
        <li data-navigable-index="34"><a tabindex="-1" aria-label="Math in Hindi" class="_knb39h5" href="/math/math-hindi"><span class="_xy39ea8">Math in Hindi</span></a></li>
        <li data-navigable-index="35"><a tabindex="-1" aria-label="Class 10 Physics (India) - Hindi" class="_knb39h5" href="/science/in-in-class-10-physics-india-hindi"><span class="_xy39ea8">Class 10 Physics (India) - Hindi</span></a></li>
        <li data-navigable-index="36"><a tabindex="-1" aria-label="Class 11 Physics (India) - Hindi" class="_knb39h5" href="/science/in-in-class-11-physics-cbse-hindi"><span class="_xy39ea8">Class 11 Physics (India) - Hindi</span></a></li>
    </ul>
    </div>
    </li>
    <li>
        <div class="_1b2zmqj" data-test-learn-menu-domain="science">
            <ul>
                <li data-navigable-index="37"><a tabindex="-1" class="_1rio1scd" href="/science/science-india"><span class="_17zmj242">Science - India</span></a></li>
            </ul>
            <ul class="_121xeo4">
                <li data-navigable-index="38"><a tabindex="-1" aria-label="Class 9 physics" class="_knb39h5" href="/science/in-in-class9th-physics-india"><span class="_xy39ea8">Class 9 physics</span></a></li>
                <li data-navigable-index="39"><a tabindex="-1" aria-label="Class 10 physics" class="_knb39h5" href="/science/in-in-class10th-physics"><span class="_xy39ea8">Class 10 physics</span></a></li>
                <li data-navigable-index="40"><a tabindex="-1" aria-label="Class 10 chemistry" class="_knb39h5" href="/science/in-in-class-10-chemistry-india"><span class="_xy39ea8">Class 10 chemistry</span></a></li>
                <li data-navigable-index="41"><a tabindex="-1" aria-label="Class 10 biology" class="_knb39h5" href="/science/class-10-biology"><span class="_xy39ea8">Class 10 biology</span></a></li>
                <li data-navigable-index="42"><a tabindex="-1" aria-label="Class 11 physics" class="_knb39h5" href="/science/in-in-class11th-physics"><span class="_xy39ea8">Class 11 physics</span></a></li>
                <li data-navigable-index="43"><a tabindex="-1" aria-label="Class 11 chemistry" class="_knb39h5" href="/science/class-11-chemistry-india"><span class="_xy39ea8">Class 11 chemistry</span></a></li>
                <li data-navigable-index="44"><a tabindex="-1" aria-label="Class 11 biology" class="_knb39h5" href="/science/in-in-class-11-biology-india"><span class="_xy39ea8">Class 11 biology</span></a></li>
                <li data-navigable-index="45"><a tabindex="-1" aria-label="Class 12 physics" class="_knb39h5" href="/science/in-in-class-12th-physics-india"><span class="_xy39ea8">Class 12 physics</span></a></li>
                <li data-navigable-index="46"><a tabindex="-1" aria-label="Class 12 chemistry" class="_knb39h5" href="/science/class-12-chemistry-india"><span class="_xy39ea8">Class 12 chemistry</span></a></li>
                <li data-navigable-index="47"><a tabindex="-1" aria-label="Class 12 biology" class="_knb39h5" href="/science/in-in-class-12-biology-india"><span class="_xy39ea8">Class 12 biology</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="_1b2zmqj" data-test-learn-menu-domain="science">
            <ul>
                <li data-navigable-index="48"><a tabindex="-1" class="_1rio1scd" href="/science"><span class="_17zmj242">Science</span></a></li>
            </ul>
            <ul class="_121xeo4">
                <li data-navigable-index="49"><a tabindex="-1" aria-label="Physics" class="_knb39h5" href="/science/physics"><span class="_xy39ea8">Physics</span></a></li>
                <li data-navigable-index="50"><a tabindex="-1" aria-label="Chemistry" class="_knb39h5" href="/science/chemistry"><span class="_xy39ea8">Chemistry</span></a></li>
                <li data-navigable-index="51"><a tabindex="-1" aria-label="Biology" class="_knb39h5" href="/science/biology"><span class="_xy39ea8">Biology</span></a></li>
                <li data-navigable-index="52"><a tabindex="-1" aria-label="See all Science" class="_knb39h5" href="/science"><span class="_xy39ea8">See all Science</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="_1b2zmqj" data-test-learn-menu-domain="computing">
            <ul>
                <li data-navigable-index="53"><a tabindex="-1" class="_1rio1scd" href="/computing"><span class="_17zmj242">Computing</span></a></li>
            </ul>
            <ul class="_121xeo4">
                <li data-navigable-index="54"><a tabindex="-1" aria-label="Computer programming" class="_knb39h5" href="/computing/computer-programming"><span class="_xy39ea8">Computer programming</span></a></li>
                <li data-navigable-index="55"><a tabindex="-1" aria-label="Computer science" class="_knb39h5" href="/computing/computer-science"><span class="_xy39ea8">Computer science</span></a></li>
                <li data-navigable-index="56"><a tabindex="-1" aria-label="See all Computing" class="_knb39h5" href="/computing"><span class="_xy39ea8">See all Computing</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="_1b2zmqj" data-test-learn-menu-domain="humanities">
            <ul>
                <li data-navigable-index="57"><a tabindex="-1" class="_1rio1scd" href="/humanities"><span class="_17zmj242">Arts &amp; humanities</span></a></li>
            </ul>
            <ul class="_121xeo4">
                <li data-navigable-index="58"><a tabindex="-1" aria-label="Art history" class="_knb39h5" href="/humanities/art-history"><span class="_xy39ea8">Art history</span></a></li>
                <li data-navigable-index="59"><a tabindex="-1" aria-label="US history" class="_knb39h5" href="/humanities/us-history"><span class="_xy39ea8">US history</span></a></li>
                <li data-navigable-index="60"><a tabindex="-1" aria-label="World history" class="_knb39h5" href="/humanities/world-history"><span class="_xy39ea8">World history</span></a></li>
                <li data-navigable-index="61"><a tabindex="-1" aria-label="See all Arts &amp; Humanities" class="_knb39h5" href="/humanities"><span class="_xy39ea8">See all Arts &amp; Humanities</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="_1b2zmqj" data-test-learn-menu-domain="economics-finance-domain">
            <ul>
                <li data-navigable-index="62"><a tabindex="-1" class="_1rio1scd" href="/economics-finance-domain"><span class="_17zmj242">Economics</span></a></li>
            </ul>
            <ul class="_121xeo4">
                <li data-navigable-index="63"><a tabindex="-1" aria-label="Microeconomics" class="_knb39h5" href="/economics-finance-domain/microeconomics"><span class="_xy39ea8">Microeconomics</span></a></li>
                <li data-navigable-index="64"><a tabindex="-1" aria-label="Macroeconomics" class="_knb39h5" href="/economics-finance-domain/macroeconomics"><span class="_xy39ea8">Macroeconomics</span></a></li>
                <li data-navigable-index="65"><a tabindex="-1" aria-label="See all Economics" class="_knb39h5" href="/economics-finance-domain"><span class="_xy39ea8">See all Economics</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="_1b2zmqj" data-test-learn-menu-domain="test-prep">
            <ul>
                <li data-navigable-index="66"><a tabindex="-1" class="_1rio1scd" href="/test-prep"><span class="_17zmj242">Test prep</span></a></li>
            </ul>
            <ul class="_121xeo4">
                <li data-navigable-index="67"><a tabindex="-1" aria-label="SAT" href="/mission/sat" class="_knb39h5"><span class="_xy39ea8">SAT</span></a></li>
                <li data-navigable-index="68"><a tabindex="-1" aria-label="LSAT" class="_knb39h5" href="/prep/lsat"><span class="_xy39ea8">LSAT</span></a></li>
            </ul>
        </div>
    </li>
    <li>
        <div class="_1b2zmqj" data-test-learn-menu-domain="khan-for-educators">
            <ul>
                <li data-navigable-index="69"><a tabindex="-1" class="_1rio1scd" href="/khan-for-educators"><span class="_17zmj242">Khan for Educators</span></a></li>
            </ul>
            <ul class="_121xeo4">
                <li data-navigable-index="70"><a tabindex="-1" aria-label="Get started with Khan Academy" class="_knb39h5" href="/khan-for-educators/new-afc"><span class="_xy39ea8">Get started with Khan Academy</span></a></li>
            </ul>
        </div>
    </li>
    </ul>
</div>